.contentContainer {
  max-width: 1125px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: -6.5rem auto 0 auto;
  background-color: $lightgrey;
  border-radius: $five;
  -webkit-border-radius: $five;
  -moz-border-radius: $five;
  .essentials {
    .topBar {
      width: 100%;
      height: 12rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 4rem 5rem 2rem 5rem;
      border-radius: $five-five;
      -webkit-border-radius: $five-five;
      -moz-border-radius: $five-five;
      .subNav {
        border-bottom: 0.1rem solid $darkgrey;
        span {
          margin: 0 2rem;
          color: $mediumgrey;
          font-family: $gothica1;
          font-size: $normal;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          cursor: pointer;
          position: relative;
          &:first-child {
            margin: 0;
          }
          &:hover:before,
          &:active:before {
            content : "";
            position: absolute;
            top: 3.5rem;
            left: 0;
            bottom: 0;
            height: 0.1rem;
            width: 100%;
            border-bottom: 0.2rem solid $lightergrey;
          }
          &:active,
          &:hover {
            color: $yellow;
          }
        }
        .active { // Todo: Remove.
          color: $yellow;
        }
      }
      .favourites {
        border-bottom: 0.1rem solid $darkgrey;
      }
    }
    .filters { // Todo: Check alignment of children.
      width: 100%;
      height: 11rem;
      padding: 2.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .postContainer {
    padding: 0 5rem;
    width: 100%;
    .post { // Todo: Change height/width properties.
      height: 600px;
      width: 330px;
      .postImage { // Todo: Replace background-color with image.
        background-color: black;
        height: 477px;
        width: 330px;
        span {
          color: $white;
        }
      }
      .postDetails {
        display: flex;
        flex-direction: column;
        span {
          text-align: center;
        }
      }
    }
    .loadMore {
      height: 6rem;
      width: 6rem;
      margin: 0 auto;
      background-color: black;
      border-radius: $fourty;
      -webkit-border-radius: $fourty;
      -moz-border-radius: $fourty;
      margin: 8rem auto 7rem auto;
    }
  }
}
