.contentContainer {
  position: relative;
  max-width: 1125px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: -6.5rem auto 0 auto;
  background-color: $lightgrey;
  border-radius: $five;
  -webkit-border-radius: $five;
  -moz-border-radius: $five;
  .essentials {
    .topBar {
      width: 100%;
      height: 11rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 4rem 5rem 2rem 5rem;
      border-radius: $five-five;
      -webkit-border-radius: $five-five;
      -moz-border-radius: $five-five;
      .subNav {
        border-bottom: 0.1rem solid $darkgrey;
        span {
          margin: 0 2rem;
          color: $mediumgrey;
          font-family: $gothica1;
          font-size: $normal;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          cursor: pointer;
          position: relative;
          &:first-child {
            margin: 0;
          }
          &:hover:before,
          &:active:before {
            content : "";
            position: absolute;
            top: 4.5rem;
            left: 0;
            bottom: 0;
            height: 0.1rem;
            width: 100%;
            border-bottom: 0.2rem solid $lightergrey;
          }
          &:active,
          &:hover {
            color: $yellow;
          }
        }
        .active {
          color: $yellow;
        }
      }
      .favourites {
        border-bottom: 0.1rem solid $darkgrey;
      }
    }
    .filters {
      width: 100%;
      height: 11rem;
      padding: 2.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 5rem auto;
    height: 5rem;
    width: 5rem;
    background-color: $yellow;
    color: $white;
    border-radius: $fourty;
    -webkit-border-radius: $fourty;
    -moz-border-radius: $fourty;
  }
}
