// Basic colours
$white: #ffffff;
$black: #000000;
$grey: #BABABA;
$yellow: #E7BA0C;

$lightestgrey: #F3F3F3;
$lightergrey: #E7BA0C; // Todo: Replace. Wrong colour.
$lightgrey: #F2F2F2;
$mediumgrey: #424242;
$darkgrey: #D7D7D7;
$darkergrey: #D9D9D9;

// Typography

// Font-family
$helvetica: Helvetica, Arial, sans-serif;
$gothica1: "Gothic A1", Helvetiva, Arial, sans-serif;
$raleway: "Raleway", Helvetica, Arial, sans-serif;

// Font-size
$tiny: 1.2rem;
$small: 1.4rem;
$normal: 1.6rem;
$large: 2.2rem;
$extralarge: 3rem;
$huge: 6rem;

// Misc

// Border-radius
$three: 0.3rem;
$five: 0.5rem;
$five-five: 0.5rem 0.5rem 0 0;
$fifteen: 1.5rem;
$twenty: 2rem;
$fourty: 4rem;
